<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form method="post"><button name='logout' type="submit">Wyloguj się</button></form>

    <font color="maroon">{{ data['message_add'] }}</font>
    <font color="maroon">{{ data['message_add_id'] }}</font>

    <form method="post">
        <h1>Dodaj nowego pracownika</h1>
        <input type="text" placeholder="Imię i Nazwisko pracownika" name="name_employee">
        <button type="submit" name="add_employee">Dodaj pracownika</button>
    </form>

    <font color="maroon">{{ data['message_del'] }}</font>

    <form method="post">
        <h1>Usuń pracownika</h1>
        <select name="employee">
            {% for employee in data['list_employees'] %}
                <option value="{{ employee }}">{{ employee }}</option>
            {% endfor %}
        </select>
        <button type="submit" name="del_employee">Usuń pracownika</button>
    </form>
</body>
</html>