<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Raporty</h1>
    {% if data['show_data'] == False %}
        <font color="maroon">{{ data['message_unlock_data'] }}</font><br>
        <form method="post">
            <input type="password" name="password" placeholder="Wpisz hasło"/>
            <button type="submit" name="unlock_data">Odblokuj dane</button>
        </form>
    {% endif %}

</body>
</html>